SECRET_KEY=nHPwTxUrtUFAdglidOzvdsSX8sW9NKHm5cYMXfXYUEsVSUH5km2RW3fwDnnrKmJa6i640AJKiwBGoYAu

DEBUG=False
ENABLE_SSL=False

ALLOWED_HOSTS=localhost,127.0.0.1

CORS_ALLOWED_ORIGINS=http://localhost:8080

DB_NAME=estate_db
DB_USER=estate_user
DB_PASSWORD=YourStrongPassword123