* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}


.app-layout {

  display: flex;
  min-height: 100vh;

}


.sidebar {

  width: 250px;
  background: #111827;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



.sidebar h2 {

  margin-bottom: 40px;

}



.sidebar nav {

  display: flex;
  flex-direction: column;
  gap: 15px;

}



.sidebar a {

  color: #d1d5db;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;

}



.sidebar a:hover {

  color: white;

}



.sidebar button {

  background: #ef4444;
  color: white;

  border: none;
  padding: 12px;

  border-radius: 8px;

  cursor: pointer;

}



.main {

  flex: 1;

}



header {

  height: 70px;

  background: white;

  padding: 0 30px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  box-shadow: 0 2px 10px #0001;

}



main {

  padding: 30px;

}

.cards {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

}



.card {

  background: white;

  padding: 25px;

  border-radius: 15px;

  box-shadow: 0 5px 20px #0001;

}



.card h1 {

  font-size: 40px;

}